.header {
  background-image: url("../../../public/img/hero-bg.png");
  background-color: #00000071;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  height: 100vh;
  width: 100%;
  position: relative;
}

/* Hero Body */
.hero-body {
  padding: 250px;
}

.hero-body h1 {
  font-size: 50px;
  color: #fff;
}

.hero-body p {
  font-size: 20px;
  color: #fff;
}

.started-btn {
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 30px;
  color: #fff;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.started-btn:hover {
  background-color: #5fcf80;
  border: 1px solid #5fcf80;
  color: #000;
}



/* Media Queries */
@media screen and (max-width: 992px) {
  .nav-bar .get-started-btn {
    font-size: 14px;
  }
  .hero-body {
    padding: 200px 100px;
  }

  .hero-body h1 {
    font-size: 30px;
  }

  .hero-body p {
    font-size: 14px;
  }
}

@media screen and (max-width: 568px) {
  .header{
    height: 75vh;
  }
  .hero-body {
    padding: 100px 50px;
  }

  .hero-body h1 {
    font-size: 25px;
    margin-top: 150px;
  }

  .hero-body p {
    font-size: 12px;
  }
}

